html {
    font-family: "Kode Mono", monospace;
    background-color: black;
    font-weight: 400;
    font-size: x-large;
    font-style: normal;
    color: whitesmoke;

    cursor: url("assets/cursor.png"), default;
}

h1 {
    margin-bottom: -10px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.alink {
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
    color: whitesmoke;
}

* {
    box-sizing: border-box;
}

footer {
    font-size: medium;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    #projects {
        margin-bottom: 0; !important;
    }

    #friends {
        margin-top: 0; !important;
    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.wobble {
    animation: tilt-n-move-shaking 4.5s infinite
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 200;
    top: 100%;
    left: 50%;
    margin-left: -10rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

i {
    font-size: x-small;
    margin: 0px 0px 0px 0px;
}

a:hover {
    cursor: pointer;
}
