html {
    font-family: "Kode Mono", monospace;
    background-color: black;
    font-weight: 400;
    font-size: x-large;
    font-style: normal;
    color: whitesmoke;

    cursor: url("assets/cursor.png"), default;
}

h1 {
    margin-bottom: -10px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.alink {
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
    color: whitesmoke;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
    font-size: medium;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

i {
    font-size: x-small;
    margin: 0px 0px 0px 0px;
}